<ion-view view-title="Delivery App">
	
	<!-- 
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon button-large button-main-toggle"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	-->
	
	<ion-nav-title>
		<img src="img/logo.png" />
	</ion-nav-title>

	<ion-content>
	
		<div ng-if="i_totalOrderQty <= 0" >
			<div class="row">
				<div class="col">
					<h3>Cart Summary</h3>
					<p>
						Cart Empty
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a class="button button-block button-positive" href="#/app/slide-menu">Go to Menu</a>
				</div>
			</div>
		</div>
		
		
		<div ng-if="i_totalOrderQty > 0">
			<div class="row">
				<div class="col">
					<h3>Order Summary</h3>
					<ul class="order-list">
						<li class="order-list-item" ng-repeat="o_cart_item in o_cart" >
							<div class="row">
								<div class="col">
									<strong>Name:</strong> {{o_cart_item.o_menuDetails.s_name}} <br/>
									<strong>Price:</strong> {{o_cart_item.o_menuDetails.d_price}} <br/>
									<strong>Qty Ordered:</strong> {{o_cart_item.i_qty}} <br/>
									<strong>Sub Total:</strong> {{ o_cart_item.d_subTotal | currency : o_site_config.s_currency : 2 }}
								</div>
							</div>
							<div class="row">
								<div class="col align-center">
									<button class="button button-assertive" ng-click="deductQtyMenuOrder({{o_cart_item.o_menuDetails.i_id}})"> <i class="icon ion-minus"></i> </button>
								</div>
								<div class="col align-center">
									<button class="button button-assertive" ng-click="addQtyMenuOrder({{o_cart_item.o_menuDetails.i_id}})"> <i class="icon ion-plus"></i> </button>
								</div>
								<div class="col align-center">
									<button class="button button-assertive" ng-click="removeMenuOrder({{o_cart_item.o_menuDetails.i_id}})" > <i class="icon ion-close-circled"></i> </button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<h3>Total Summary</h3>
					
					<div class="list">
						<label class="item item-input item-stacked-label">
							<span class="input-label">Grand Total:</span>
							<input type="text" disabled="disabled" value="{{getTotalOrderCost() | currency : o_site_config.s_currency : 2 }}" />
						</label>
						<!-- 
						<label class="item item-input item-stacked-label">
							<span class="input-label">Change:</span>
							<input type="text" disabled="disabled" value="{{o_customer.d_expectedChange | customCurrency : o_site_config.s_currency : 2}}" ng-class="{'error': o_customer.d_expectedChange < 0}" />
						</label>
						<label class="item item-input item-stacked-label">
							<span class="input-label"><span class="item-stacked-label-reqstar">*</span> Bring Change for:</span>
							<input type="text" name="" ng-model="o_customer.d_cashOnHand" ng-change="updateCustomerChange()" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" placeholder="0.00" />
						</label>
						-->
					</div>
				</div>
			</div>
			<!-- 
			<div class="row">
				<div class="col">
					Grand Total:
				</div>
				<div class="col">
					{{getTotalOrderCost() | currency : o_site_config.s_currency : 2 }} 
				</div>
			</div>
			<div class="row">
				<div class="col">
					Bring Change for:
				</div>
				<div class="col">
					{{o_site_config.s_currency}} <input type="text" name="" ng-model="o_customer.d_cashOnHand" ng-change="updateCustomerChange()" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" placeholder="0.00"  />
				</div>
			</div>
			<div class="row">
				<div class="col">
					Change:
				</div>
				<div class="col">
					{{o_customer.d_expectedChange | currency : o_site_config.s_currency : 2}}
				</div>
			</div>
			-->
			
			
			
			
			<div class="row" ng-if="o_customer.b_login == false">
				<div class="col">
					<button class="button button-block button-positive" ng-click="login()">Login to Checkout</button>
				</div>
			</div>
			
			<!-- 
			<div class="row" ng-if="i_totalOrderQty > 0 ">
			-->
			<div class="row" ng-if="i_totalOrderQty > 0 && o_customer.b_login == true">
				<div class="col">
					<a class="button button-block button-balanced" href="#/app/checkout">Checkout</a>
				</div>
			</div>
			
			<!--
			<div class="row" ng-if="i_totalOrderQty <= 0 ">
			-->
			<div class="row" ng-if="i_totalOrderQty <= 0 && o_customer.b_login == true">
				<div class="col">
					<button class="button button-block button-balanced" disabled="disabled" >Checkout</button>
				</div>
			</div>

		</div>
	
	</ion-content>
</ion-view>
