<ion-view view-title="Delivery App">
	
	<!-- 
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon button-large button-main-toggle"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	-->
	
	<ion-nav-title>
		<img src="img/logo.png" />
	</ion-nav-title>
	
	<ion-content>

		<div ng-if="i_totalOrderQty <= 0" >
			<div class="row">
				<div class="col">
					<h3>Cart Summary</h3>
					<p>
						Cart Empty
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a class="button button-block button-positive" href="#/app/slide-menu">Go to Menu</a>
				</div>
			</div>
		</div>
		
		
		
		<!-- 
		<div ng-if="i_totalOrderQty > 0 && o_customer.b_login == false">
		-->
		<div ng-if="i_totalOrderQty > 0">
			
			<form novalidate id="frm_order" name="frm_order" class="frm-order" >
			
				<div class="row">
					<div class="col">
						<h3>Payment Summary</h3>
						<div class="list">
							<label class="item item-input item-stacked-label">
								<span class="input-label">Grand Total:</span>
								<input type="text" disabled="disabled" value="{{getTotalOrderCost() | currency : o_site_config.s_currency : 2 }}" />
							</label>
							<label class="item item-input item-stacked-label">
								<span class="input-label">Change:</span>
								<input type="text" disabled="disabled" value="{{o_customer.d_expectedChange | customCurrency : o_site_config.s_currency : 2}}" ng-class="{'error': o_customer.d_expectedChange < 0}" />
							</label>
							<label class="item item-input item-stacked-label">
								<span class="input-label"><span class="item-stacked-label-reqstar">*</span> Bring Change for:</span>
								<input type="text" name="" ng-model="o_customer.d_cashOnHand" ng-change="updateCustomerChange()" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" placeholder="0.00" required="required" />
							</label>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<h3>Customer Details</h3>
						<div class="list">
							<label class="item item-input item-stacked-label">
								<span class="input-label"><span class="item-stacked-label-reqstar">*</span> Name:</span>
								<input type="text" name="" required="required" disabled="disabled" value="{{o_customer.s_fullName || '-'}}" /> <!-- ng-model="o_customer.s_fullName" -->
							</label>
							<label class="item item-input item-stacked-label">
								<span class="input-label"><span class="item-stacked-label-reqstar">*</span> Email:</span>
								<input type="email" name="" required="required" disabled="disabled" value="{{o_customer.s_email || '-'}}" /> <!-- ng-model="o_customer.s_email" -->
							</label>
							<label class="item item-input item-stacked-label">
								<span class="input-label"><span class="item-stacked-label-reqstar">*</span> Contact Number:</span>
								<input type="text" name="" required="required" ng-model="o_customer.s_cellphoneNumber" />
							</label>
							<label class="item item-input item-stacked-label">
								<span class="input-label"><span class="item-stacked-label-reqstar">*</span> Address:</span>
								<textarea required="required" ng-model="o_customer.s_deliveryAddress" ></textarea>
							</label>
							<label class="item item-input item-stacked-label">
								<span class="input-label">Order Note:</span>
								<textarea ng-model="o_customer.s_orderNote" ></textarea>
							</label>
						</div>
					</div>
				</div>
				
				
				<!-- 
				<div class="row" ng-if="i_totalOrderQty > 0 && o_customer.d_expectedChange >= 0">
				-->
				<div class="row" ng-if="i_totalOrderQty > 0 && o_customer.d_expectedChange >= 0 && o_customer.b_login == true">
					<div class="col">
						<button class="button button-block button-positive" ng-click="submitOrder()" ng-disabled="frm_order.$invalid">Send Order</button>
					</div>
				</div>
				
				<!-- 
				<div class="row" ng-if="o_customer.d_expectedChange < 0">
				-->
				<div class="row" ng-if="(o_customer.d_expectedChange < 0 && o_customer.b_login == true) || (o_customer.d_expectedChange == '')">
					<div class="col">
						<button class="button button-block button-assertive" disabled="disabled">Send Order</button>
					</div>
				</div>
				
				
				
			</form>
			
		</div>
		
		
		<div class="row" ng-if="o_customer.b_login == false">
			<div class="col">
				<button class="button button-block button-positive" ng-click="login()">Login to Checkout</button>
			</div>
		</div>
	

	</ion-content>
</ion-view>
