<ion-view view-title="Login">
  <ion-content>
	<form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="login()">Log in</button>
        </label>
		
		Name: {{o_customer.s_fullName || 'No Data Yet'}} <br/>
		Email: {{o_customer.s_email || 'No Data Yet'}} <br/>
		Platform: {{o_platform.platform || 'No Data Yet'}} <br/>
		
		
		
		
		
		
      </div>
    </form>
  </ion-content>
</ion-view>
