<ion-view view-title="Delivery App" > <!-- view-title="Delivery App - {{o_site_config.s_restaurantName}}" -->
 
	<!-- 
	<ion-nav-bar class="bar-balanced">
		<ion-nav-back-button>
			<button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
		</ion-nav-back-button>
	</ion-nav-bar>
	
	http://ionicframework.com/docs/api/directive/ionNavBackButton/
	http://ionicframework.com/docs/api/directive/menuToggle/
	
	<ion-nav-bar class="bar-assertive">
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
  
	<ion-nav-title>
		<img ng-src="img/logo.png" />
	</ion-nav-title>
	-->

	
	<!-- 
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon button-large button-main-toggle"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	-->
	
	<ion-nav-title>
		<img src="img/logo.png" />
	</ion-nav-title>
	
	
	<ion-content>
		<div class="row">
			<div class="col">

				<div class="company-card">
					<img src="img/img-01.jpg" />
					<h1>Son-Gohan Donburi - Japanese Rice Toppings</h1>
					<p>
						これは、クライアントがいっぱいになり、サンプルの会社概要です。 We Accept Order / Deliver +639176215550.
					</p>
					
					<hr/>
					
					<h2>WEB</h2>
					<p>
						<a href="#">http://www.company-website.com</a>
					</p>
					
					<hr/>
					
					<h2>住所</h2>
					<p>
						どこかでこの都市のサンプルアドレス。
					</p>
					
					<hr/>
					
					<h2>営業時間</h2>
					<p>
						9:00~20:00
					</p>
					
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
